p {
    display: inline-block;
}

.test_div {
    width: 400px;
    height: 400px;
    background-color: aquamarine;

    /* margin: 10px;*/
    margin: 10px 20px 30px 40px;

    /*padding: 10px;
    /*padding: 10px 20px 30px 40px;*/
    padding: 20px;


    /*border: 2px solid black; */
    /*border:6px solid #945999;*/
    border: 2px dashed black;

    box-sizing: border-box
}

/*  sirina i visina 400px
    margina     2 * margin
    padding     2 * padding
    border      2 * border
-------------------
    400px + 2*20px + 2*2px + 2*10px = 400px + 40px + 4px + 20px = 464px sirina
    400px + 2*20px + 2*2px + 2*10px = 400px + 40px + 4px + 20px = 464px visina
 */

code {
    background: #eaeaed;
    color: #666;
    font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal,
    "Courier New", Courier;
    display: inline-block;
    height: 70px;
    margin: 0 14px;
    padding-top: 20px;
    text-align: center;
    width: 90px;
}

.border-solid {
    border: 2px solid #9799a7;
}

.border-double {
    border: 6px double #9799a7;
}

.border-dashed {
    border: 8px dashed #9799a7;
}

.border-dotted {
    border: 4px dotted #9799a7;
}

.border-rounded {
    border-radius: 5px;
}
.border-circle {
    border-radius: 50%;
}
.border-football {
    border-radius: 15px 75px;
}