* {
    font-family: 'Georgia', sans-serif;

}

hr {
    border: 0;
    height: 10px;
    background: brown;
}

body {
    background-color: #ffe4c4;
}

#navbar {
    overflow: hidden;
    background-color: #333;
    border-radius: 0.4rem;

}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
    transition: 0.5s ease;
}


.WebStructure h2 {
    color: black;
}

.WebStructure {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    margin: 10px;
    color: green;
}

.webimg {
    padding: 1rem;
    margin: 0 auto;
    width: 500px;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    font-size: larger;
    border: 3px solid black;
    text-align: left;
    padding: 8px;
}


tr:nth-child(even) {
    color: #d5d5d5;
    background-color: #424242;
}

.important {
    text-transform: uppercase;
}

.important {
    color: blue;
}

.admittance {
    color: red;
    font-weight: bold;
}

.social {
    background-color: indianred;
}

.social p {
    background: orange !important;
    font-size: larger;
    color: red;
}

.tooltip {
    style: bold;
    color: green;
}

#WinnieLink:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

#WinnieLink:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

#WinnieLink:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

#WinnieLink:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}


body .SteveJobs {
    margin: 0;
}

.SteveJobs p:first-of-type {
    margin-top: 0;
}

.SteveJobs p:last-of-type {
    margin-bottom: 0;
}


body .bacon {
    margin: 0;
}

.bacon p:first-of-type {
    margin-top: 0;
}

.bacon p:last-of-type {
    margin-bottom: 0;
}

.Chicago body {
    margin: 0;
}

.Chicago p:first-of-type {
    margin-top: 0;
}

.Chicago p:last-of-type {
    margin-bottom: 0;
}