h1 {
    color: blue;
}

.recipe {
    font-family: sans-serif;
}

.grey {
    color: grey;
}

.green {
    color: green;
}

.red {
    color: red;
}

.cloud {
    font-family: "Courier New";
    background-color: lightblue;
    padding: 10px;
    border-radius: 0.4rem;
}