table {
    border-collapse: collapse;
    font-family: Arial, 'Times New Roman', Times, serif;
}

span {
    color: blue;
}

tbody, tfoot td, tbody td {
    border: 1px solid #939393;
}

th, td {
    padding: 10px 15px;
}

thead {
    background-color: royalblue;
    color: white;
    border: none;
}

thead tr td:last-of-type,
tbody tr td:nth-child(3n+2),
tbody tr td:nth-last-child(3n+2) {
    text-align: center;
}

tbody tr td:last-of-type, tfoot tr td {
    text-align: right;
}

tbody tr:nth-child(even), tfoot tr:last-child {
    background-color: #d0d0d0;
}

